@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(27, 41, 63);
  line-height: 1;
  font-family: "Inter";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f4f7fc;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

/* Важная часть */

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 10000;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  max-width: 550px;
  width: 100%;
  padding: 30px 20px;
  border: 15px solid rgb(27, 41, 63);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 7px;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-image: url("../img/questions/plus.svg");
  background-size: contain;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 12px 20px;
  background: rgb(27, 41, 63);
  border-radius: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-button-transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid #57a5ff;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-title {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 35px;
}

.main-title:not(:last-child) {
  margin-bottom: 60px;
}

.main-logotype {
  display: block;
}

.no-webp .page__results{
  background: url("../img/bgs/4.png") 0 0/cover no-repeat; }

.page__results {
  padding-top: 80px;
  padding-bottom: 30px;
}

.no-webp .page__services{
  background: url("../img/bgs/2.png") 0 0/cover no-repeat; }

.page__services {
  padding-top: 80px;
  padding-bottom: 30px;
}

.no-webp .page__news{
  background: url("../img/bgs/4.png") 0 0/cover no-repeat; }

.page__news {
  padding-top: 80px;
  padding-bottom: 30px;
}

.no-webp .page__our-advantages{
  background: url("../img/bgs/4.png") 0 0/cover no-repeat; }

.page__our-advantages {
  padding-top: 80px;
  padding-bottom: 30px;
}

.no-webp .page__our-experts{
  background: url("../img/bgs/2.png") 0 0/cover no-repeat; }

.page__our-experts {
  padding-top: 80px;
  padding-bottom: 30px;
}

.no-webp .page__questions{
  background: url("../img/bgs/2.png") 0 0/cover no-repeat; }

.page__questions {
  padding-top: 80px;
  padding-bottom: 30px;
}

.page__consultation {
  padding-top: 80px;
  padding-bottom: 130px;
}

.main-slider {
  padding: 10px 0;
}

.main-slider__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide-main-slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 375px;
}

.slide-main-slider__body {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
  border-radius: 7px;
}

.slide-main-slider__image-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.slide-main-slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.slide-main-slider__button {
  margin-top: -35px;
  z-index: 1;
  border-radius: 50px;
  padding: 15px 30px;
}

.slide-main-slider__content {
  margin-top: auto;
  padding-top: 25px;
}

.slide-main-slider__title {
  font-size: 24px;
  font-weight: 500;
}

.slide-main-slider__title:not(:last-child) {
  margin-bottom: 10px;
}

.slide-main-slider__exp {
  font-weight: 600;
}

.slide-main-slider__exp:not(:last-child) {
  margin-bottom: 10px;
}

.slide-main-slider__job-position {
  color: #6d809f;
  font-weight: 500;
}

.control-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}

.control-buttons__slider-button-prev {
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid #57a5ff;
  border-radius: 7px;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.control-buttons__slider-button-next {
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid #57a5ff;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.control-buttons__slider-button-next:active {
  background: rgb(27, 41, 63);
}

.control-buttons__icon-arrow {
  max-width: 30px;
}

.swiper-button-disabled {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  background: rgb(27, 41, 63);
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-form__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

.main-form__title:not(:last-child) {
  margin-bottom: 20px;
}

.main-form__subtitle {
  position: relative;
  padding-bottom: 10px;
}

.main-form__subtitle::after {
  content: "";
  position: absolute;
  background-color: rgb(27, 41, 63);
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
}

.main-form__subtitle:not(:last-child) {
  margin-bottom: 75px;
}

.main-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.main-form__input {
  padding: 20px;
  border: 1px solid #6d809f;
  border-radius: 7px;
  background-color: transparent;
  color: rgb(27, 41, 63);
}

.main-form__input::-webkit-input-placeholder {
  color: rgb(27, 41, 63);
}

.main-form__input::-moz-placeholder {
  color: rgb(27, 41, 63);
}

.main-form__input:-ms-input-placeholder {
  color: rgb(27, 41, 63);
}

.main-form__input::-ms-input-placeholder {
  color: rgb(27, 41, 63);
}

.main-form__input::placeholder {
  color: rgb(27, 41, 63);
}

.main-form__input:focus {
  outline: 2px solid #6d809f;
}

.main-form__input_border-color {
  border: 1px solid #57a5ff;
  color: #fff;
}

.main-form__input_border-color::-webkit-input-placeholder {
  color: #fff;
}

.main-form__input_border-color::-moz-placeholder {
  color: #fff;
}

.main-form__input_border-color:-ms-input-placeholder {
  color: #fff;
}

.main-form__input_border-color::-ms-input-placeholder {
  color: #fff;
}

.main-form__input_border-color::placeholder {
  color: #fff;
}

.main-form__input_border-color:focus {
  outline: 2px solid #57a5ff;
}

.main-form__button {
  border-radius: 7px;
  padding: 20px;
}

.main-form__policy {
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.main-form__policy span {
  text-decoration: underline;
}

.main-form__link-policy {
  color: #57a5ff;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.swiper-initialized .swiper-slide {
  max-width: 100%;
}

a.main-form__link-policy {
  text-decoration: underline;
}

.services-details-page__main-page {
  padding-top: 60px;
  padding-bottom: 30px;
}

.services-details-page__results {
  padding-top: 80px;
  padding-bottom: 30px;
}

.services-details-page__transparent {
  padding-top: 80px;
  padding-bottom: 30px;
}

.services-details-page__questions {
  padding-top: 80px;
  padding-bottom: 30px;
}

.services-details-page__consultation {
  padding-top: 80px;
  padding-bottom: 30px;
}

.services-details-page__stages {
  padding-top: 80px;
  padding-bottom: 30px;
}

.services-details-page__block {
  padding-top: 80px;
  padding-bottom: 30px;
}

.consultation_padding-bottom {
  padding-bottom: 130px;
}

.consultation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.consultation__image-wrap {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  border-radius: 7px;
  overflow: hidden;
}

.consultation__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.consultation__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 60000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgb(27, 41, 63);
  border-top-color: #6d809f;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: loader 1s infinite linear;
          animation: loader 1s infinite linear;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.questions__body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.questions__body_flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 450px;
          flex: 1 1 450px;
}

.spollers-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.spollers-questions__item {
  background: rgb(27, 41, 63);
  color: #fff;
  border-radius: 7px;
  overflow: hidden;
  border: 2px solid rgb(27, 41, 63);
}

.spollers-questions__title {
  width: 100%;
  padding: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  text-align: left;
}

.spollers-questions__title::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("../img/questions/plus.svg");
  background-size: contain;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers-questions__title._spoller-active::after {
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.spollers-questions__body {
  padding-top: 20px;
  background: #f4f7fc;
  color: rgb(27, 41, 63);
  padding: 20px;
}

.spollers-questions__text:not(:last-child) {
  margin-bottom: 15px;
}

.spollers-questions__list:not(:last-child) {
  margin-bottom: 20px;
}

.list-spollers-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.list-spollers-questions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 1.2;
}

.list-spollers-questions__item::before {
  content: "";
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  background: rgb(27, 41, 63);
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
          transform: translateY(70%);
}

.up-button {
  width: 45px;
  height: 45px;
  z-index: 999;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2%;
  right: 210px;
  background: url("../img/up-button/2.svg") 50% 50%/cover no-repeat;
  background-color: rgb(27, 41, 63);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.up-button-active {
  visibility: visible;
  opacity: 1;
}

.header {
  font-size: 0.9375rem;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -110%;
  background: #f4f7fc;
  -webkit-box-shadow: 0px 15px 30px 5px rgb(253, 253, 253);
          box-shadow: 0px 15px 30px 5px rgb(253, 253, 253);
  z-index: 4;
  -webkit-transition: left 0.7s ease 0s;
  transition: left 0.7s ease 0s;
}

.menu-open .header::before {
  content: "";
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logotype-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  z-index: 100;
}

.header__button {
  min-width: 185px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.menu-open .menu {
  left: 0%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  height: 100%;
}

.menu__item {
  position: relative;
}

.menu__item-spoller-body {
  background-color: #6d809f;
  color: #fff;
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 15px;
  border-radius: 7px;
  min-width: 200px;
  max-width: 350px;
}

.menu__link {
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(27, 41, 63);
  width: 0;
  height: 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_spoller {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link_spoller::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11px;
  width: 11px;
  background-image: url("../img/header/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.menu__link_spoller._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.info-menu__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}

.info-menu__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}

.info-menu__calendar span {
  color: #909090;
}

.info-menu__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-menu__icon-tel {
  font-size: 18px;
  font-weight: 700;
  color: #3c3c3c;
}

.icon-menu {
  display: none;
}

.no-webp .footer{
  background-image: url("../img/footer/footer-bg.png"); }

.footer {
  color: #fff;
  background-color: #111d30;
  background-size: cover;
  background-position-y: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 10px;
}

.footer__logotype {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__adress {
  max-width: 300px;
}

.footer__get-there {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.footer__get-there::after {
  content: "";
  background: url("../img/footer/arrow.svg") 0 0/contain no-repeat;
  height: 17px;
  width: 17px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.socials__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.socials__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
}

.socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.no-webp .main-page{
  background-image: url("../img/footer/footer-bg.png"); }

.main-page {
  background-color: #111d30;
  background-size: contain;
}

.main-page__container {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-page__bg-image {
  position: absolute;
  bottom: 0;
  right: 0%;
  max-width: 900px;
  max-height: 95%;
}

.main-page__body {
  max-width: 500px;
  color: #ffffff;
}

.main-page__title {
  font-size: 48px;
}

.main-page__title:not(:last-child) {
  margin-bottom: 22px;
}

.main-page__text:not(:last-child) {
  margin-bottom: 54px;
}

.main-page__button {
  max-width: 364px;
}

.cards-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.cards-services:not(:last-child) {
  margin-bottom: 25px;
}

.cards-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
  border-radius: 7px;
  overflow: hidden;
}

.cards-services__image-wrap {
  position: relative;
  padding-bottom: 56.25%;
}

.cards-services__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-webp .cards-services__content{
  background-image: url("../img/footer/footer-bg.png"); }

.cards-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: rgb(27, 41, 63);
  background-size: cover;
}

.cards-services__titile {
  font-weight: 600;
  font-size: 20px;
}

.cards-services__titile:not(:last-child) {
  margin-bottom: 20px;
}

.cards-services__text {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.cards-services__text:not(:last-child) {
  margin-bottom: 20px;
}

.cards-services__price {
  font-size: 20px;
}

.cards-services__price:not(:last-child) {
  margin-bottom: 10px;
}

.cards-services__details {
  border-radius: 7px;
  background: transparent;
  border: 1px solid #57a5ff;
}

.news__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.news__subtitle:not(:last-child) {
  margin-bottom: 45px;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  min-width: 306px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  -webkit-box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
  border-radius: 7px;
  overflow: hidden;
}

.list-news__image-wrap {
  position: relative;
  padding-bottom: 50%;
}

.list-news__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  row-gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.list-news__title {
  font-size: 20px;
  font-weight: 500;
}

.list-news__details {
  border-radius: 7px;
  margin-top: auto;
}

.our-advantages__title:not(:last-child) {
  margin-bottom: 60px;
}

.our-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.no-webp .advantages-item{
  background-image: url("../img/footer/footer-bg.png"); }

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 15px;
  border-radius: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(27, 41, 63);
  background-size: cover;
  -webkit-box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 10px 7px rgba(34, 60, 80, 0.2);
}

.advantages-item__image-wrap {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  border-radius: 50%;
  overflow: hidden;
}

.advantages-item__image-wrap:not(:last-child) {
  margin-bottom: 20px;
}

.advantages-item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.advantages-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.advantages-item__title {
  font-size: 25px;
  font-weight: 500;
  color: #57a5ff;
}

.advantages-item__title:not(:last-child) {
  margin-bottom: 10px;
}

.advantages-item__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results__text {
  color: #57a5ff;
  text-align: center;
}

.results__text:not(:last-child) {
  margin-bottom: 50px;
}

.results__images-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.results__images-list:not(:last-child) {
  margin-bottom: 30px;
}

.results__item {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.results__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.results__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 7px;
}

.results__button_margin-bottom:not(:last-child) {
  margin-bottom: 25px;
}

.results-page {
  padding-top: 60px;
  padding-bottom: 80px;
}

.results-page__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-page__top:not(:last-child) {
  margin-bottom: 50px;
}

.results-page__title {
  font-size: 48px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

.results-page__title:not(:last-child) {
  margin-bottom: 30px;
}

.results-page__text:not(:last-child) {
  margin-bottom: 20px;
}

.results-page__button {
  min-width: 250px;
}

.results_margin-bottom:not(:last-child) {
  margin-bottom: 90px;
}

.results__title {
  text-align: left;
}

.results__title:not(:last-child) {
  margin-bottom: 30px;
}

.results__item_with-text {
  position: static;
  padding-bottom: 0;
}

.results__body-item {
  position: relative;
  padding-bottom: 56.25%;
}

.results__text-item {
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.social {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 2%;
  right: 20px;
  z-index: 2;
  border-radius: 7px;
}

.social__wrapper {
  position: relative;
}

.social__body {
  border-radius: 7px;
  position: absolute;
  bottom: 55px;
  right: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  min-width: 350px;
  z-index: 1;
}

.social__body.active {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
}

.social__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(9, 94, 84);
  padding: 20px;
}

.social__avatar {
  width: 50px;
  height: 50px;
}

.social__response-time {
  font-size: 13px;
  color: #fff;
}

.no-webp .social__chat-window{
  background: url("../img/social/background.png") 0 0 no-repeat; }

.social__chat-window {
  padding: 20px;
  min-height: 150px;
}

.social__message-wrap {
  padding: 17px;
  border-radius: 7px;
  max-width: 90%;
  background-color: #fff;
  position: relative;
  font-size: 14px;
  line-height: 1.3;
}

.social__message-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}

.social__message-time {
  position: absolute;
  font-size: 12px;
  color: #808080;
  bottom: 3px;
  right: 5px;
}

.social__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.no-webp .social__close-button::after{
  background: url("../img/social/2.png") 0 0/contain no-repeat; }

.social__close-button::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__message-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 50px;
  background-color: rgb(20, 198, 86);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.social__message-button::before {
  content: "";
  background: url("../img/social/1.svg") 0 0/contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
}

.social__anim {
  position: absolute;
  border: 2px solid rgb(79, 206, 93);
  z-index: -1;
  border-radius: 50px;
  padding: 10px 25px;
}

.disabled .social__anim {
  display: none;
}

@-webkit-keyframes socialButtonAnim {
  from {
    width: 165px;
    height: 40px;
    opacity: 1;
  }

  50% {
    width: 200px;
    height: 60px;
    opacity: 0;
  }

  to {
    width: 165px;
    height: 40px;
    opacity: 0;
  }
}

@keyframes socialButtonAnim {
  from {
    width: 165px;
    height: 40px;
    opacity: 1;
  }

  50% {
    width: 200px;
    height: 60px;
    opacity: 0;
  }

  to {
    width: 165px;
    height: 40px;
    opacity: 0;
  }
}

.social #social__anim1 {
  -webkit-animation: socialButtonAnim 2s linear 1s infinite;
          animation: socialButtonAnim 2s linear 1s infinite;
}

.social #social__anim2 {
  -webkit-animation: socialButtonAnim 2s linear 1.3s infinite;
          animation: socialButtonAnim 2s linear 1.3s infinite;
}

.social #social__anim3 {
  -webkit-animation: socialButtonAnim 2s linear 1.6s infinite;
          animation: socialButtonAnim 2s linear 1.6s infinite;
}

.social__open-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #fff;
  color: rgb(79, 206, 93);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
}

.social__open-button::before {
  content: "";
  background: url("../img/social/1.svg") 0 0/contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

.social__open-button.mobile-on {
  border-radius: 50%;
  padding: 10px;
  gap: 0px;
}

.social__open-button.mobile-on::before {
  content: "";
  background: url("../img/social/1.svg") 0 0/contain no-repeat;
  width: 40px;
  height: 40px;
}

.services-main-page__title {
  text-align: left;
}

.services-main-page__title:not(:last-child) {
  margin-bottom: 30px;
}

.services-main-page__text {
  line-height: 1.2;
  font-size: 18px;
}

.services-main-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.services-main-page__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.services-main-page__bottom {
  position: relative;
  padding-bottom: 50%;
  border-radius: 7px;
  overflow: hidden;
}

.services-main-page__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.transparent__background {
  padding-bottom: 600px;
  background: transparent;
  position: relative;
}

.no-webp .transparent__background::before{
  background-image: url("../img/services-details/bg.jpeg"); }

.transparent__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-attachment: fixed;
  z-index: -1;
}

.top-stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-stages:not(:last-child) {
  margin-bottom: 25px;
}

.list-top-stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 450px;
          flex: 1 1 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  padding: 40px;
  border-radius: 7px;
  counter-reset: ol-numbers;
  background: #fff;
}

.list-top-stages_second-list {
  counter-reset: ol-numbersol-numbers;
}

.list-top-stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  line-height: 1.2;
  font-size: 18px;
}

.list-top-stages__item::before {
  content: counter(ol-numbers);
  counter-increment: ol-numbers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(27, 41, 63);
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 50%;
}

.bottom-stages {
  background: #fff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
}

.bottom-stages_bg-gray {
  background: #f4f7fc;
}

.bottom-stages__title:not(:last-child) {
  margin-bottom: 20px;
}

.bottom-stages__button {
  min-width: 300px;
}

.some-block__title {
  font-size: 24px;
}

.some-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.some-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.some-block__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.some-block__image-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  min-height: 300px;
}

.some-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.some-block__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  line-height: 1.2;
}

.privacy-policy-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.privacy-policy-page__body {
  font-size: 16px;
  line-height: 1.4;
}

.privacy-policy-page__subtitle {
  font-size: 20px;
  font-weight: 500;
}

.list-privacy-policy-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.list-privacy-policy-page__item::before {
  content: "";
  background: rgb(27, 41, 63);
  height: 5px;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5px;
          flex: 0 0 5px;
  -webkit-transform: translateY(170%);
      -ms-transform: translateY(170%);
          transform: translateY(170%);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 23.12375em) {
  .header__logotype-wrapper {
    min-width: 80px;
    padding-right: 15px;
  }
}

@media (min-width: 29.99875em) {
  .results-page__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 39.12375em) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 41.06125em) {
  .list-news__details {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 47.99875em) {
  .advantages-item_centered {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 580px;
            flex: 0 1 580px;
  }
}

@media (min-width: 67.5em) {
  .header__menu {
    padding-right: 25px;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (min-width: 67.56125em) {
  .menu__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }

  .menu__item-spoller-body {
    position: absolute;
    top: 110%;
  }
}

@media (max-width: 30em) {
  .up-button {
    width: 60px;
    height: 60px;
    right: 100px;
  }
}

@media (max-width: 85.625em) {
  .menu {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 83.125em) {
  .menu__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 79.99875em) {
  .news__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 15px;
  }
}

@media (max-width: 73.74875em) {
  .main-page__bg-image {
    right: 0;
  }
}

@media (max-width: 67.5em) {
  .header__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .menu {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 140px;
    padding-bottom: 50px;
    row-gap: 45px;
    -webkit-transition: left 0.7s ease 0s;
    transition: left 0.7s ease 0s;
    background: #f4f7fc;
    color: rgb(27, 41, 63);
    font-weight: 600;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5625rem;
  }

  .info-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 100;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(27, 41, 63);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 67.56125em) {
  .menu__link {
    text-align: center;
  }

  .menu__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 67.49875em) {
  .results-page {
    padding-top: 40px;
  }
}

@media (max-width: 64.99875em) {
  .cards-services {
    gap: 15px;
  }
}

@media (max-width: 63.99875em) {
  .main-title {
    font-size: 32px;
  }
}

@media (max-width: 61.99875em) {
  .consultation__container {
    gap: 15px;
  }

  .main-page__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .our-advantages__list {
    gap: 15px;
  }
}

@media (max-width: 53.125em) {
  .results__images-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 49.99875em) {
  .cards-services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 34%;
            flex: 1 1 34%;
  }

  .cards-services__content {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 47.99875em) {
  .popup {
    padding: 20px 15px;
  }

  .page__results {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .page__services {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .page__news {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .page__our-advantages {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .page__our-experts {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .page__questions {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  .page__consultation {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .main-form__title_popup {
    padding-top: 20px;
    font-size: 24px;
  }

  .main-form__title_popup:not(:last-child) {
    margin-bottom: 15px;
  }

  .main-form__subtitle:not(:last-child) {
    margin-bottom: 35px;
  }

  .main-form__subtitle_popup {
    font-size: 18px;
  }

  .main-form__body_popup {
    row-gap: 15px;
  }

  .main-form__input_popup {
    padding: 15px;
  }

  .main-form__button_popup {
    padding: 15px;
  }

  .main-form__policy {
    font-size: 16px;
  }

  .services-details-page__main-page {
    padding-bottom: 15px;
  }

  .services-details-page__results {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .services-details-page__transparent {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .services-details-page__questions {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .services-details-page__consultation {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .services-details-page__stages {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .services-details-page__block {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .consultation_padding-bottom {
    padding-bottom: 65px;
    padding-top: 65px;
  }

  .consultation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .consultation__image-wrap {
    display: none;
  }

  .main-page__bg-image {
    display: none;
  }

  .our-advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .results__title:not(:last-child) {
    margin-bottom: 15px;
  }

  .results__text-item {
    font-size: 18px;
  }

  .services-main-page__title {
    font-size: 32px;
  }

  .services-main-page__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .services-main-page__text {
    font-size: 16px;
  }

  .services-main-page__top {
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .transparent__background {
    padding-bottom: 300px;
  }

  .top-stages {
    gap: 10px;
  }

  .top-stages:not(:last-child) {
    margin-bottom: 20px;
  }

  .list-top-stages {
    padding: 15px;
  }

  .bottom-stages {
    padding: 20px;
  }

  .some-block__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .privacy-policy-page {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 41.12375em) {
  .cards-services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 40.625em) {
  .results__images-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 39.06125em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 29.99875em) {
  .main-title:not(:last-child) {
    margin-bottom: 35px;
  }

  .main-page__title {
    font-size: 35px;
  }

  .list-news__body {
    padding: 10px;
  }

  .results_margin-bottom:not(:last-child) {
    margin-bottom: 50px;
  }

  .bottom-stages__title {
    font-size: 25px;
  }

  .bottom-stages__button {
    width: 100%;
  }
}

@media (max-width: 28.74875em) {
  .main-slider {
    margin: 0 -15px;
  }
}

@media (max-width: 26.56125em) {
  .main-page__button {
    max-width: none;
  }

  .cards-services__details {
    max-width: none;
  }
}

@media (max-width: 23.12375em) {
  .header__container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .header__button {
    min-width: 170px;
  }
}

@media (any-hover: hover) {
  .main-button:hover {
    background: #6d809f;
  }

  .main-button-transparent:hover {
    -webkit-box-shadow: 4px 4px 10px 7px rgba(87, 165, 255, 0.1843137255);
            box-shadow: 4px 4px 10px 7px rgba(87, 165, 255, 0.1843137255);
    background: transparent;
  }

  .control-buttons__slider-button-prev:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .control-buttons__slider-button-prev:active {
    background: rgb(27, 41, 63);
  }

  .control-buttons__slider-button-next:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .up-button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .info-menu__adress:hover {
    text-decoration: underline;
  }

  .info-menu__tel:hover {
    text-decoration: underline;
  }

  .footer__tel:hover {
    text-decoration: underline;
  }

  .footer__get-there:hover {
    text-decoration: underline;
  }

  .socials__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .cards-services__details:hover {
    -webkit-box-shadow: 4px 4px 10px 7px rgba(87, 165, 255, 0.1843137255);
            box-shadow: 4px 4px 10px 7px rgba(87, 165, 255, 0.1843137255);
    background: transparent;
  }
}

.webp .page__results{ background: url(../img/bgs/4.webp) 0 0/cover no-repeat; }

.webp .page__services{ background: url(../img/bgs/2.webp) 0 0/cover no-repeat; }

.webp .page__news{ background: url(../img/bgs/4.webp) 0 0/cover no-repeat; }

.webp .page__our-advantages{ background: url(../img/bgs/4.webp) 0 0/cover no-repeat; }

.webp .page__our-experts{ background: url(../img/bgs/2.webp) 0 0/cover no-repeat; }

.webp .page__questions{ background: url(../img/bgs/2.webp) 0 0/cover no-repeat; }

.webp .footer{ background-image: url(../img/footer/footer-bg.webp); }

.webp .main-page{ background-image: url(../img/footer/footer-bg.webp); }

.webp .cards-services__content{ background-image: url(../img/footer/footer-bg.webp); }

.webp .advantages-item{ background-image: url(../img/footer/footer-bg.webp); }

.webp .social__chat-window{ background: url(../img/social/background.webp) 0 0 no-repeat; }

.webp .social__close-button::after{ background: url(../img/social/2.webp) 0 0/contain no-repeat; }

.webp .transparent__background::before{ background-image: url(../img/services-details/bg.webp); }